openai
langchain_community
langchain
langchain_openai
flask
flask_cors
python-dotenv
pypdf
chromadb==0.3.29
gevent
openai
langchain_community
langchain
langchain_openai
flask
flask_cors
python-dotenv
pypdf
chromadb==0.3.29
gevent

